name: CI

on:
  workflow_dispatch:

env:
  forbuildVariables: use Installer\buildVariables.cmd file

jobs:
  Build_x64:
    runs-on: windows-2022
    timeout-minutes: 45

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Load Variables from buildVariables.cmd
        shell: cmd
        run: |
          @echo on
          call "${{ github.workspace }}\Installer\buildVariables.cmd" build_qt6
          echo qt6_version=%qt6_version% >> %GITHUB_ENV%
          echo qt_version=%qt6_version% >> %GITHUB_ENV%

      - name: Setup msbuild
        uses: microsoft/setup-msbuild@v2

      #
      # Compile Sandboxie Core
      #

      - name: Build Sandboxie x64 (drv)
        run: msbuild /t:build Sandboxie\SandboxDrv.sln /p:Configuration="SbieRelease" /p:Platform=x64 -maxcpucount:8

      - name: Upload Sandboxie x64
        uses: actions/upload-artifact@v6.0.0
        with:
          name: Sandboxie_x64
          path: Sandboxie/Bin/x64/SbieRelease/*
          retention-days: 7

  Build_ARM64:
    runs-on: windows-2022
    timeout-minutes: 45

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Load Variables from buildVariables.cmd
        shell: cmd
        run: |
          @echo on
          call "${{ github.workspace }}\Installer\buildVariables.cmd" build_qt6
          echo qt6_version=%qt6_version% >> %GITHUB_ENV%

      - name: Setup msbuild
        uses: microsoft/setup-msbuild@v2

      #
      # Compile Sandboxie Core
      #

      - name: Build Sandboxie ARM64 (drv)
        run: msbuild /t:build Sandboxie\SandboxDrv.sln /p:Configuration="SbieRelease" /p:Platform=ARM64 -maxcpucount:8

      - name: Upload Sandboxie ARM64
        uses: actions/upload-artifact@v6.0.0
        with:
          name: Sandboxie_ARM64
          path: Sandboxie/Bin/ARM64/SbieRelease/*
          retention-days: 7
